@keyframes wave {
  0% { box-shadow: 16px -0px, 32px -0px, 48px 0px; }
  10% { box-shadow: 16px -4px, 32px -0px, 48px -0px; }
  20% { box-shadow: 16px -8px, 32px -4px, 48px -0px; }
  30% { box-shadow: 16px -4px, 32px -8px, 48px -4px; }
  40% { box-shadow: 16px -0px, 32px -4px, 48px -8px; }
  50% { box-shadow: 16px -0px, 32px -0px, 48px -4px; }
  60% { box-shadow: 16px -0px, 32px -0px, 48px -0px; }
  100% { box-shadow: 16px -0px, 32px -0px, 48px -0px; }
}


.a-animated-dots {
  display: inline-block;
  height: 6px;
  position: relative;
  width: 50px;
}

.a-animated-dots::after {
    content: "";

    animation: wave 1000ms infinite;

    width: 6px;
  	height: 6px;
    margin-left: -16px;
    display: inline-block;
    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 0;

    /* Box shadow used in the animation defaults to the 'color'-property; */
    color: #FFFFFF;
}
